<div class="container my-3">
  @if (shoppingList$ | async; as shoppingList) {
  <mat-list>
    @for (ingredient of shoppingList; track ingredient) {
    <mat-list-item>
      <div class="row align-items-center">
        <div class="col-6">
          {{ ingredient.name }}
        </div>
        <div class="col-2">
          {{ ingredient.amount }}
        </div>
        <div class="col-3">
          {{ ingredient.units }}
        </div>
        <div class="col-1">
          <button mat-icon-button
            (click)="removeIngredient(ingredient)"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
    </mat-list-item>
    }
  </mat-list>
  <div class="row">
    <div class="d-flex mt-4 pe-5 justify-content-end">
      <button mat-raised-button color="primary" (click)="saveShoppingList(shoppingList)">
        Save Shopping List
      </button>
    </div>
  </div>
  } @else if (loading$ | async) {
    <mat-spinner class="mx-auto"></mat-spinner>
  } @else if (error$ | async) {
  <div class="alert alert-warning" role="alert">
    <h2>Oops, something went wrong :( please try again later</h2>
  </div>
  }
</div>
